@import 'colours/jellybean.css';

* {
    border: none;
    border-radius: 0px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @blue;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @bg0;
    padding: 0 12px 0 12px;
    margin: 0 0 0 0px;
    border-radius: 50px;
    border: 1px solid @bg1;
}

#clock {
    color: @grey2;
    letter-spacing: 0.4px;
    margin: 0 12px 0 12px;
 
}

#custom-notification {
    color: @fg;
    margin: 0 0px 0 12px;
}

#pulseaudio.muted {
    color: @yellow;
}

#network {
    color: @purple;
}

#custom-wlogout {
    background-color: @bg0;
    color: @red;
    padding: 0 10px 0 10px;
    margin: 0 12px 0 12px;
    border-radius: 50px;
    border: 1px solid @bg1;
}

#custom-wlogout:hover {
    background-color: @red;
    color: @bg0;
}